[submodule "submodule/regex"]
	path = submodule/regex
	url = git@github.com:siddharthkumarjha/regex.git
[submodule "submodule/reflection"]
	path = submodule/reflection
	url = git@github.com:siddharthkumarjha/reflection.git
[submodule "submodule/raylib"]
	path = submodule/raylib
	url = git@github.com:siddharthkumarjha/raylib-experiments.git
[submodule "submodule/numeric-types"]
	path = submodule/numeric-types
	url = git@github.com:siddharthkumarjha/numeric-types.git
[submodule "submodule/elf-probe"]
	path = submodule/elf-probe
	url = git@github.com:siddharthkumarjha/elf-probe.git
[submodule "submodule/cpp-modules"]
	path = submodule/cpp-modules
	url = git@github.com:siddharthkumarjha/cpp-module.git
[submodule "submodule/merge-k-sorted-lists"]
	path = submodule/merge-k-sorted-lists
	url = git@github.com:siddharthkumarjha/merge-k-link-lists.git
[submodule "submodule/lua"]
	path = submodule/lua
	url = git@github.com:siddharthkumarjha/lua-cpp-wrapper.git
