[submodule "submodule/regex"]
	path = submodule/regex
	url = git@github.com:siddharthkumarjha/regex.git
[submodule "submodule/reflection"]
	path = submodule/reflection
	url = git@github.com:siddharthkumarjha/reflection.git
[submodule "submodule/raylib"]
	path = submodule/raylib
	url = git@github.com:siddharthkumarjha/raylib-experiments.git
[submodule "submodule/numeric-types"]
	path = submodule/numeric-types
	url = git@github.com:siddharthkumarjha/numeric-types.git
[submodule "submodule/elf-probe"]
	path = submodule/elf-probe
	url = git@github.com:siddharthkumarjha/elf-probe.git
